a {
    text-decoration: none;
    color: white
}

.navbar-brand {
    color: white;
}

.shortcut {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    display: inline-block;
    *display: inline;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.col-4 {
    text-align: center;
}

h3 {
    border: 1px solid;
}

.header-margin {
    height: 55px;
}

.footer-margin {
    height: 55px;
}

#filters {
    height: 30px;
    width: 30px;
}

#filters_bar {
    background-color: white;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid;
    width: 100%;
}

#occupancyReportButton {
    background-color: darkgray;
    border: 1px solid black;
    margin-bottom: 0.75em;
}

.filter_bar_items {
    color: black;
    height: 100%;
    cursor: pointer;
}

.filter_bar_items:hover {
    color: black;
}

#index_link {
    cursor: pointer;
}